<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/jdbc
 	http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
 	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
   
    
    <context:annotation-config/>
    <!-- 扫描注解 -->
   <context:component-scan base-package="service,dao,mapping"/>

    <!-- 加载数据源配置文件 -->
    <bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!-- 标准配置 -->
                <value>classpath:/db.properties</value>
            </list>
        </property>
    </bean>


	<!--&lt;!&ndash; 数据库链接配置 &ndash;&gt;                      -->
    <!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"	destroy-method="close">-->
		<!--<property name="driverClassName" value="${db.driver.class}"/>-->
		<!--<property name="url" value="${db.url}"/>-->
		<!--<property name="username" value="${db.username}"/>-->
		<!--<property name="password" value="${db.password}"/>-->
		<!--<property name="filters" value="stat"/>-->
		<!--<property name="connectionProperties" value="druid.stat.mergeSql=true"/>-->
		<!--<property name="maxActive" value="${db.proxool.maxActive}"/>-->
		<!--<property name="initialSize" value="${db.proxool.initialSize}"/>-->
		<!--<property name="maxWait" value="${db.proxool.maxWait}"/>-->
		<!--<property name="minIdle" value="${db.proxool.minIdle}"/>-->
		<!--<property name="timeBetweenEvictionRunsMillis" value="${db.proxool.timeBetweenEvictionRunsMillis}"/>-->
		<!--<property name="minEvictableIdleTimeMillis" value="${db.proxool.minEvictableIdleTimeMillis}"/>-->
		<!--<property name="validationQuery" value="SELECT 1"/>-->
		<!--<property name="ValidationQueryTimeout" value="100000"/>-->
		<!--<property name="testWhileIdle" value="true"/>-->
		<!--<property name="testOnBorrow" value="false"/>-->
		<!--<property name="testOnReturn" value="false"/>-->

		<!--&lt;!&ndash; 连接泄漏监测 &ndash;&gt;-->
		<!--<property name="removeAbandoned" value="true"/>-->
		<!--&lt;!&ndash; 打开removeAbandoned功能 &ndash;&gt;-->
		<!--<property name="removeAbandonedTimeout" value="1800"/>-->
		<!--&lt;!&ndash; 1800秒，也就是30分钟 &ndash;&gt;-->
		<!--<property name="logAbandoned" value="true"/>-->
		<!--&lt;!&ndash; 关闭abanded连接时输出错误日志 &ndash;&gt;-->
	<!--</bean>-->
	
	
	
	<!--&lt;!&ndash; 配置事务管理器 &ndash;&gt;  -->
	<!--<bean id="transactionManager"-->
		<!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
		<!--<property name="dataSource" ref="dataSource"></property>-->
	<!--</bean>-->
	<!---->
	<!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--<property name="dataSource" ref="dataSource" />-->
		<!--<property name="plugins">-->
			<!--<array>-->
				<!--<bean class="com.github.pagehelper.PageInterceptor">-->
					<!--<property name="properties">-->
						<!--&lt;!&ndash;使用下面的方式配置参数，一行配置一个 &ndash;&gt;-->
						<!--<value>-->

						<!--</value>-->
					<!--</property>-->
				<!--</bean>-->
			<!--</array>-->
		<!--</property>-->
		<!--&lt;!&ndash; configLocation：用于指定Mybatis的配置文件位置 &ndash;&gt;-->
		<!--<property name="mapperLocations" value="classpath*:com/hsnn/basic/common/mappers/mysql/*.xml"></property>-->
	<!--</bean>-->

    <!--<context:annotation-config />-->
    <!--<tx:annotation-driven />-->
	<!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--<property name="basePackage" value="com.hsnn.basic.common.dao" />-->
		<!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />-->
	<!--</bean>-->

	<!--导入其他的配置-->
	<import resource="spring-mybatis.xml"/>

</beans>
